

.App {
  text-align: center;
background-color: black
}

.input{
  flex:auto;
  flex-direction: column;
  margin: 4emem;
  background-color: bisque;
}
.display-card{
  background-color: pink;
  padding: 4em;
}
.flip{
  background-color: blue;
}