

.App {
  text-align: center;
background-color: black
}

.input{
  flex:auto;
  flex-direction: column;
  margin: 4emem;
  background-color: bisque;
}
.display-card{
  background-color: pink;
  padding: 4em;
}
.flip{
  background-color: blue;
}
.card-body{
  display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    align-self: stretch;
  }


.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
align-items: stretch;
align-self: stretch;
}
